{% extends "base.html" %}
{% block content %}

<!-- only ONE kind of these details will be display at a time -->

 <!-- entered from reports page -->
{% if person %}
    <h1 style="padding: 30px;">Class Schedule For {{person}}, {{p}}</h1>
    <!-- extra whitespace -->
    <p></p>
    <table>
        <th>Class Date</th>
        <th>Time</th>
        <th>Type</th>
        <th>Duration</th>
        {% for r in schedule %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

<!-- entered from reports page -->
{% if date %}
    <h1>Class Enrollment List For</h1>
    <h1 style="padding: 30px;text-indent: 20px;"><u>{{class_type}}</u> on {{date}} at {{time}}</h1>
    <!-- extra whitespace -->
    <p></p>
    <table>
        <th>Attendee Name</th>
        <th>Role</th>
        <th>Phone</th>
        <th>Email</th>
        {% for r in enrollment %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

<!-- entered from customers' page -->
{% if buyer_name %}
    <h1 style="padding: 30px;">Transaction History For {{buyer_name}}, {{buyer_phone}}</h1>
    <!-- extra whitespace -->
    <p></p>
    <table>
        <th>Transaction id</th>
        <th>Date</th>
        <th>Time</th>
        <th>Purchase Type</th>
        <th>Amount</th>
        <th>Payment Method</th>
        {% for r in history %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}