{% extends "base.html" %}
{% block content %}
<h1>Allied Ants Yoga Studio Management Interface</h1>
<p>Please select your desired section</p>

<div class="page-header">
    <h2>Dashboard</h2>
</div>

<div style = "display: flex; gap: 10px; flex-wrap: wrap;">
    <a class="btn" href="/customers">Customers</a>
    <a class = "btn" href="/teachers">Teachers</a>
    <a class = "btn" href="/classes">Classes</a>
    <a class = "btn" href="/sales">Sales</a>
    <a class = "btn" href="/reports">Reports</a>
</div>
{% endblock %}