{% extends "base.html" %}
{% block content %}
<h1>Reports</h1>
<div>
    <!-- user options -->
    <!-- every time user hits a button, page refreshes to display ONLY lastest requested info -->

    <form action="/reports/revenue" method="get">
        <label for="rst">Start date:</label>
        <input type="date" id="rst" name='st' placeholder="" required>
        <label for="red">End date:</label>
        <input type="date" id="red" name='ed' required>
        <input class="btn" type="submit" value="Revenue by period">
    </form>
    <!-- only print table if it's requested and available -->
    {% if rev %}
        <table>
            <tr>
                <th>Transaction Counts</th>
                <th>Total Revenue</th>
            </tr>
            <tr>
                <td>{{ rev[0] }}</td>
                <td>{{ rev[1] }}</td>
            </tr>
        </table>
        <!-- extra whitespace -->
        <p></p>
    {% endif %}

    <form action="/reports/trans" method="get">
        <label for="tst">Start date:</label>
        <input type="date" id="tst" name="st" required>
        <label for="ted">End date:</label>
        <input type="date" id="ted" name='ed' required>
        <input class="btn" type="submit" value="Transactions lookup">
    </form>
    {% if trans %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>Amount</th>
                <th>Payment Method</th>
                <th>Buyer</th>
                <th>Sale Type</th>
            </tr>
        
        {% for r in trans %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <!-- extra whitespace -->
        <p></p>
    {% endif %}

    <form action="/reports/teacher_KPI" method="get">
        <button class="btn" type="submit" value="Classes per teacher">Classes per teacher</button>
    </form>
    {% if teacher %}
        <table>
            <tr>
                <th>name</th>
                <th>phone</th>
                <th>number_of_classes_taught</th>
            </tr>
        
        {% for r in teacher %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <!-- extra whitespace -->
        <p></p>
    {% endif %}

    <form action="/reports/attn" method="get">
        <button  class="btn" type="submit" value="Attendance lookup">Attendance lookup</button>
    </form>
    {% if attn %}
        <table>
            <tr>
                <th>date</th>
                <th>time</th>
                <th>type</th>
                <th>duration</th>
                <th>attendance</th>
            </tr>
        
        {% for r in attn %}
            <tr>
                {% for x in r %}
                    <td>{{ x }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>

    
<script>
    // use today's date as placeholder
    const d = new Date();
    const year = d.getFullYear();
    const month = String(d.getMonth() + 1).padStart(2, "0");
    const day = String(d.getDate()).padStart(2, "0");
    const today = `${year}-${month}-${day}`;
    document.getElementById("rst").value = today;
    document.getElementById("red").value = today;
    document.getElementById("tst").value = today;
    document.getElementById("ted").value = today;
</script>

{% endblock %}